@import 'tailwindcss';

@theme {
  --color-primary: #e1251b;
  --color-primary-dark: #aa182c;
  --color-secondary: #e1251b;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}

/* HTML: <div class="loader"></div> */
.loader-loading {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid lightblue;
  border-right-color: var(--color-primary);
  animation: l2 1s infinite linear;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: var(--color-primary);
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 415px) {
  .fc .fc-toolbar {
    display: block !important;
    text-align: center !important;
  }
}
